/* Content */

.section-title {
  text-align: center;
  color: #4d7a05;
  font-weight: bold;
  margin: 20px 0;
}

.device-card {
  background: white;
  padding: 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.08);
}

.device-header {
  background-color: #4c8700;
  color: white;
  padding: 15px 25px;
  font-size: 18px;
}

.control-btn {
  text-align: center;
  margin: 10px 0;
}

.control-btn i {
  font-size: 2.5rem;
  color: #000;
  cursor: pointer;
  transition: color 0.3s;
}

.control-btn i:hover {
  color: #4d7a05;
}

.control-label {
  margin-top: 5px;
  font-weight: 500;
}

.menu-icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

