.agradecimento-card {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.agradecimento-card h2 {
    color: #4c8700;
    font-weight: bold;
    margin-bottom: 20px;
}

.agradecimento-card p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
}


.participantes {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.participantes h3 {
    color: #4d7a05;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.participantes ul {
    list-style: none;
    text-align: start;
    padding: 0;
    margin: 0;
}

.participantes li {
    font-size: 0.95rem;
    color: #333;
    line-height: 1.8;
}

.mascote-img {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 25px auto; 
}