.gerenciamento-container {
    max-width: 900px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    margin-top: 0;
    margin-bottom: 0;
}

.gerenciamento-header {
    background-color: #4c8700;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
}


.tabela-wrapper {
    overflow-x: auto;
    padding: 0;
}

.gerenciamento-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.gerenciamento-table th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
    padding: 8px 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.gerenciamento-table td {
    padding: 8px 10px;
    border: 1px solid #eee;
    text-align: left;
    background-color: #fff9f2;
}

.gerenciamento-table tbody tr:nth-child(even) td {
    background-color: #f7f7f7;
}


.action-btn {
    width: 70px;
    text-align: center !important;
    cursor: pointer;
}

.action-btn i {
    font-size: 1.2rem;
    transition: color 0.2s;
}

.action-btn i.bi-pencil-square:hover {
    color: #4c8700;
}

.action-btn i.bi-x-octagon-fill {
    color: #ff0000;
}

.action-btn i.bi-x-octagon-fill:hover {
    color: #cc0000 !important;
}